<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  {% if page.title %}
    <title>{{ page.title }}</title>
  {% else %}
    <title>{{ site.title }}</title>
  {% endif %}

  {% if page.excerpt %}
    <meta name="description" content="{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}">
  {% else %}
    <meta name="description" content="{{ site.description }}">
  {% endif %}

  <link rel="canonical" href="{{ page.url | replace: 'index.html', '' }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="/feed.xml">
  <link rel="stylesheet" href="/css/main.css">
</head>
